/* BREAKPOINTS */
$breakpoints: (
        s: (375/16) + em,     // 375px
        m: (768/16) + em,     // 768px
        l: (1024/16) + em,    // 1024px
        xl: (1440/16) + em,   // 1440px
        xxl: (2560/16) + em,  // 2560px
);

/* COLORS */

// Set the theme colors here
$theme-colors: (
        "primary": #cc0099, // So in case I forgot to specify the color I got a different one
        "very-darck": #48556a,
        "darck": #6d7f97,
        "grayish": #9eafc2,
        "light": #ecf2f8,
);

// Set the general colors here
$colors: (
        "blue": blue,
        "red": red,
        "yellow": yellow,
        "white": white,
);

/* FONTS */

$font-sizes: (
        "xs": px-to-em(10),   // 10px
        "s": px-to-em(14),    // 14px
        "sm": px-to-em(16),   // 16px
        "m": px-to-em(20),    // 20px
        "ml": px-to-em(24),   // 24px
        "l": px-to-em(32),    // 32px
        "xl": px-to-em(48),   // 48px
        "xxl": px-to-em(64),  // 64px
);

$font-weights: (
        "extrathin": 100,
        "thin": 200,
        "light": 300,
        "regular": 400,
        "semibold": 500,
        "bold": 600,
        "extrabold": 700,
);
