/* BREAKPOINTS */
$breakpoints: (
        s: (375/16) + em,     // 375px
        m: (768/16) + em,     // 768px
        l: (1024/16) + em,    // 1024px
        xl: (1440/16) + em,   // 1440px
        xxl: (2560/16) + em,  // 2560px
);

/* COLORS */

// Set the theme colors here
$theme-colors: (
        "primary": #cc0099, // So in case I forgot to specify the color I got a different one
        "very-dark": #48556a,
        "dark": #6d7f97,
        "grayish": #9eafc2,
        "light": #ecf2f8,
);

// Set the general colors here
$colors: (
        "blue": blue,
        "red": red,
        "yellow": yellow,
        "white": white,
);

/* FONTS */

$font-sizes: (
        "xs": (10/16) + rem,   // 10px
        "s": (14/16) + rem,    // 14px
        "sm": (16/16) + rem,   // 16px
        "m": (20/16) + rem,    // 20px
        "ml": (24/16) + rem,   // 24px
        "l": (32/16) + rem,    // 32px
        "xl": (48/16) + rem,   // 48px
        "xxl": (64/16) + rem,  // 64px
);

$font-weights: (
        "extrathin": 100,
        "thin": 200,
        "light": 300,
        "regular": 400,
        "semibold": 500,
        "bold": 600,
        "extrabold": 700,
);
