/* Main modules of the page */
html {
  width: auto;
  height: auto;
}

body {
  width: auto;
  height: auto;
  background-color: theme-color("light");
  font-family: 'Manrope', sans-serif;
  font-size: font-size(13);   // 13px
  color: theme-color("very-dark");
}

main {
  width: 100vw;
  height: calc(100vh - 2rem);
  @include flex(column, center, center);
}

footer {
  width: 100vw;
  height: 2rem;

  .attribution {
    font-size: font-size(13);
    text-align: center;
  }
  .attribution a {
    color: #3e52a3;
  }
}