.card {
    /* MOBILE 1st STYLES */

    // Screen width < 768px
    background-color: color("white");
    border-radius: toRem(8);
    max-width: toRem(327);
    box-shadow: 0px 30px 35px rgba(158, 175, 194, 0.25);
    @include flex(column);

    .card-img {
        width: 100%;
        height: toRem(200);
        border-radius: space(8,8,0,0);
        overflow: hidden;

        img {
            width: 100%;
            margin: space(-18);
        }
    }

    .card-body {
        width: 100%;
        padding: space(35, 32, 19, 32);
        position: relative;

        .card-header {
            font-size: font-size("sm"); // 16px
            font-weight: font-weight("extrabold"); // 700
            line-height: toRem(24); // 24px
            letter-spacing: 0.01em;
            padding: space(0,0,12,0);
        }

        .card-content {
            font-size: font-size(13);
            font-weight: font-weight("semibold"); // 500
            line-height: toRem(20); // 20px
            letter-spacing: 0.01em;
            color: theme-color("dark");
        }

        .card-footer {
            padding: space(34,0,0,0);
            @include flex(row, flex-start, center);

            .user-avatar {
                width: toRem(40);
                height: toRem(40);

                img {
                    width: toRem(40);
                    height: toRem(40);
                    border-radius: toRem(20);
                }
            }

            .user-info {
                padding: space(0,0,0,16);
                width: toRem(191);

                .user-name {
                    font-size: font-size(13);
                    font-weight: font-weight("semibold");
                    line-height: toRem(18);
                    letter-spacing: 0.03em;
                }

                .published-at {
                    font-size: font-size(13);
                    font-weight: font-weight("semibold");
                    line-height: toRem(20);
                    letter-spacing: 0.01em;
                    color: theme-color("dark");
                }
            }

            button {
                width: toRem(32);
                height: toRem(32);
                border-radius: toRem(16);
                background-color: theme-color("light");
                cursor: pointer;
                transition: background-color .5s ease-in-out;

                &:hover {
                    background-color: theme-color("dark");
                    
                    svg path {
                        fill: theme-color("light");
                    }
                }
            }
        }

        .sharing {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: toRem(72);
            border-radius: space(0,0,8,8);
            padding: space(0,32,0,32);
            background-color: theme-color("very-dark");
            box-shadow: 0px 14px 5px rgba(158, 175, 194, 0.15);
            transition:
                opacity 1s ease-in-out,
                transform 1s ease-in-out,
                visibility 1s ease-in-out;

            .arrow-frame {
                display: none;
            }

            .sharing-body {
                width: 100%;
                height: 100%;
                @include flex(row, center, center);

                p {
                    line-height: toRem(18);
                    letter-spacing: .39em;
                    font-weight: font-weight("regular");
                    text-transform: uppercase;
                    color: theme-color("grayish");
                }

                .sharing-links {
                    width: 10rem;
                    padding: 0rem 3rem 0rem 1.25rem;
                    @include flex(row, space-between, center);

                    a {
                        transition: transform .5s ease-in-out;

                        &:hover {
                            transform: translateY(-5px);
                        }
                    }
                }

                button {
                    width: toRem(32);
                    height: toRem(32);
                    border-radius: toRem(16);
                    background-color: theme-color("dark");
                    cursor: pointer;
                    transition: background-color .5s ease-in-out;
    
                    svg path {
                        fill: theme-color("light");
                    }

                    &:hover {
                        background-color: theme-color("light");
                        
                        svg path {
                            fill: theme-color("dark");
                        }
                    }
                }
            }

            &.closed {
                opacity: 0;
                transform: translateY(100%);
                visibility: hidden;
            }
        } // .sharing end
    } // .card-body end

    /* RESPONSIVE STYLES */

    // Screen Width > 768px
    @include responsive(l) {
        max-width: toRem(731);
        @include flex(row);

        .card-img {
            width: 29.875rem;
            height: 100%;
            border-radius: space(8,0,0,8);

            img {
                width: toRem(350.75);
                height: 100%;
                margin: 0;
            }
        }

        .card-body {
            padding: space(32,40,32,40);

            .card-header {
                font-size: font-size("m");
                line-height: toRem(28);
                padding: 0;
            }

            .card-content {
                padding: space(11,0,24,0);
            }

            .card-footer {
                padding: 0;

                .user-info {
                    width: toRem(309);
                }

                button {
                
                    &.active {
                        background-color: theme-color("dark");

                        svg path {
                            fill: theme-color("light");
                        }

                        &:hover {
                            background-color: theme-color("light");
                            
                            svg path {
                                fill: theme-color("dark");
                            }
                        }
                    }
                }
            }

            .sharing {
                left: 17.65rem;
                bottom: 6.25rem;
                width: 15.5rem;
                height: toRem(55);
                border-radius: space(8,8,8,8);
                padding: space(0,37,0,37);

                .arrow-frame {
                    display: block;
                    position: relative;

                    .arrow {
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: theme-color("very-dark");
                        transform: rotate(45deg);
                        position: absolute;
                        left: 4.55rem;
                        top: 2.5rem;
                    }
                }

                .sharing-body {
                        
                    .sharing-links {
                        padding: 0 0 0 1rem;
                        z-index: 1;
                    }

                    button {
                        display: none;
                    }
                }
            }
        }
    }
}